@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* src/app/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom utility class for neon green */
.text-neon {
  color: #39FF14;
}

.bg-neon {
  background-color: #39FF14;
}

.border-neon {
  border-color: #39FF14;
}

.text-glow {
  text-shadow: 0 0 5px #39FF14, 0 0 10px #39FF14, 0 0 20px #39FF14;
}

.hover\\:text-neon:hover {
  color: #39ff14;
}
.hover\:bg-neon:hover {
  background-color: #39ff14;
}
.hover\:text-black:hover {
  color: #000000;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
